.sidebar-wrapper {
  position: absolute;
  margin: 10px;
  width: 300px;
  border-radius: 2px;
  z-index: 1;
  top: 0;
  bottom: 0;
  transition: width 0.3s;

  .sidebar {
    .item-header {
      border-bottom: 1px solid $input-border;
      color: $brand-success;
    }
    .item-clickable {
      &.active,
      &:hover {
        background: $brand-primary;
        color: #fff;
        border: 1px solid $brand-primary;
      }
    }
    .routes-list {
      overflow: scroll;
      position: absolute;
      width: 100%;
      top: 66px;
      bottom: 0;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      .item-styled {
        &:first-child {
          border-top: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    width: 250px;
  }

  @media screen and (max-width: 640px) {
    position: relative;
    margin: 0;
    width: 100%;
    .sidebar {
      border-radius: 0;
      .routes-list {
        position: relative;
        top: 0;
        max-height: 35vh;
      }
    }
  }
}
