$brand-primary-tint: lighten($brand-primary, 59.8%);
$brand-success-tint: lighten($brand-success, 45%);
$brand-info-tint: lighten($brand-info, 53.5%);
$title-border-color: darken($input-border, 5%);
$text-color-off: lighten($text-color, 18%);
